@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

@keyframes scale {
    0%{
        transform: scale(0.4);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes slideIn {
    0%{
        transform: "";
    }
    100%{
        transform: "";
    }
}

@keyframes expand {
    0%{
        transform: scale(0.4);
    }
    100%{
        transform: scale(1.8);
        opacity: 20%
    }
}

@keyframes shake {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

body{
    font-family: 'Darumadrop One', cursive;
}

p{
    margin: 0px;
}


.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.potatoes-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    z-index:3;
}

.powerupbg{
    display:grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    z-index:1;
    height:200px;
    width:800px;
    color: pink;
}

.powerupbg img{
    border: 4px solid;
    border-radius: 50%;
}

.play-btn, .help-btn, .settings-btn, .replay-btn {
    display: block;
    border: 0px;
    border-radius: 50%;
    height: 90px;
    width: 90px;
}

.help-btn, .settings-btn{
    height:60px;
    width:60px;
}

.play-btn{
    background-color: #BBC1FD;
    background-image: url(./img/btn-play.png);     
}

.help-btn{
    background-color: #F3C887;
    background-image: url(./img/btn-help.png);     
}

.settings-btn{
    background-color: #F2B1B1;
    background-image: url(./img/btn-settings.png);     
}

.replay-btn{
    background-color: #BBC1FD;
    background-image: url(./img/btn-replay.png);     
}

button{
    display:block;
    cursor:pointer;
    margin: 1em;
}

button:hover{
    opacity: 0.7;
}

.buttons-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.title-img{
    display:block;
    text-align: center;
    height: 12vw;
}

.potato{
    display: inline-block;
    position: relative;
}

#potato2 {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.action-area{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.action-row{
    display: flex;
    justify-items: center;
    align-items:center;
    height:100px;
    margin-bottom:8px;
    width:80%;
}

#action-row-0{
    background-color: #ffc787;
}

#action-row-1{
    background-color: #c5b7ff;
}

.key-sequence{
    display:flex;
    width: 100%;
    justify-content: space-evenly;
}

.keystroke[data-keystroke-status="active"]{
    border: 4px solid white;
}

.keystroke[data-keystroke-status="inactive"]{
    opacity:40%
}

.keystroke[data-keystroke-status="correct"]{
    background-color:yellowgreen;
    animation: expand 0.5s ease-out;
}

.keystroke[data-keystroke-status="missed"]{
    background-color: pink;
    animation: shake 0.5s linear 0s;
}

/* .damage-points{
    background-color: pink;
} */

.hidden{
    display: none;
}

canvas {
    background: pink;
    display: block;
    margin: 0 auto;
    border: solid 6px #444;
}

.powerup-bg{
    display:relative;
    width: 800px;
    height: 800px;
}

.potato-powerup-img{
    border: solid 4px transparent;
}


#dmg-effect-0{
    position:absolute;
    right: 180px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#dmg-effect-1{
    position:absolute;
    left: 180px;
}

.big-dmg{
    position:absolute;
    top:15px;
    font-size: 32px;
    color:red;
}

.potato-avatar{
    position:relative;
}

#potato-avatar-0  .big-dmg{
    left:-35px;
}

#potato-avatar-1 .big-dmg{
    right:-35px;
}

.big-dmg, .dmg-effect {
    animation: scale 0.5s ease-out forwards;
    /* animation-name:scale;
    animation-duration: 1s;
    animation-timing-function: ease-in; */
}